 .auth-container {
  /* background-image: url('../src/assets/images/ella-olsson-C1Q3qOTlegg-unsplash\ 1.png'); */
  background-size: cover;
  background-position: center center;
}

.bg-overlay {
  background: linear-gradient(45deg, rgba(55, 140, 47, 0.6), rgba(0, 0, 0, 0.6));
}

.sidebar-container .ps-sidebar-container{
  background-color: rgba(31,38 ,62,1 ) !important;
}

.sidebar-container .ps-menu-button{
  color: white !important;

}

.sidebar-container .ps-menu-button:hover{
  background-color:  rgb(41, 50, 81) !important;
  border-left: 5px solid rgb(14, 172, 14);
}

.sidebar-container .sidebar-logo a:hover{
 background-color: transparent !important;
 border-left: none !important;
}

/* .sidebar-card .sidebar-logo a{
  padding: 0% !important;
 margin: 0% !important;
} */

.header{
  background-color: #009247;
}

.my-img-animation {
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
}

.active {
  border-left: 5px solid rgb(14, 172, 14) !important;
  /* background-color: rgb(41, 50, 81) !important; */
  color: white !important;
}

.active>.page-link, .page-link.active {
  background-color: #009247 !important;
}

.Logooo{
  background-color: transparent !important;
   border-left:unset!important;
   color: #333 !important;
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 5px;
}

.recipe-header{
  background-color: #d9fcd7;
}

.food-img{
  width: 60px !important;
  border-radius: 50%;
}

.not-found{
    background-image: url(./assets/images/Vector.png);
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100vh;
    font-family: "Inter", sans-serif;

}
.sidebar-container .pro-sidebar {
  border-top-right-radius: 15px ّ!important; 
  border-bottom-right-radius: 15px !important;
}

.btn-add{
  background-color: #13c368 !important;
}



.recipe-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.table-row {
  vertical-align: middle;
}

.odd-row {
  background-color: #f9f9f9;
}

.even-row {
  background-color: #ffffff;
}
/* 
@media (max-width: 768px) {
  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 10px;
    background-color: hsla(0, 0%, 100%, 0.769);
  }

  .table tbody td {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }

  .table tbody td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #333;
  }

  .table tbody td:last-child {
    border-bottom: none;
  }
} */

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.pulse-loader {
  width: 60px;
  height: 60px;
  background-color: #dc3545;
  border-radius: 50%;
  animation: pulse 0.8s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.page-link{
  cursor: pointer;
}